<div class="row">
  <div class="col-md-9">
    {{>products}}
  </div>
  <div class="col-md-3">
  </div>
  <nav aria-label="Page navigation example" style="margin: 0 auto;">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/admin/products?page={{prev}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{#each totalPage}}
      {{#ifCond this ../page}}
      <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
      <li class="page-item"><a class="page-link" href="/admin/products?page={{this}}">{{this}}</a></li>
      {{/ifCond}}
      {{/each}}
      <a class="page-link" href="/admin/products?page={{next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      </li>
    </ul>
  </nav>
</div>