<div class="d-flex justify-content-center row">
  <div class="col-10">
    <form action="" method="POST">
      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Product Name</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" value="{{product.name}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" value="{{product.description}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" value="{{ product.price}}">
        </div>
      </div>
      <button type="submit" class="btn btn-success">修改資料</button>
    </form>
    <div class="btn-group">
      <button type="submit" class="delete-product btn btn btn-danger mt-3" data-toggle="modal"
        data-target="#delete-modal-{{product.id}}">刪除商品</button>
    </div>
  </div>

  <div class="mt-5">
    <h2>請確認目前資料是否正確</h2>
    <div class="media">
      <img src="{{product.image}}" class="align-self-center mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">{{product.name}}</h5>
        <p>{{product.description}}</p>
        <p class="card-text">Price: {{ product.price}}</p>
        <div>
          <div class="btn-group">
            <a href="/admin/products">
              <button type="submit" class="btn btn-success">確定資料正確後返回主頁</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- modal --}}
<div class="modal fade" id="delete-modal-{{product.id}}" data-backdrop="static" tabindex="-1" data-keyboard="false"
  aria-labelledby="delete-modal-{{product.id}}-Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        要刪除 <strong>{{product.name}}</strong> 嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
        <form action="/admin/products/{{product.id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">確認刪除</button>
        </form>
      </div>
    </div>
  </div>
</div>