<div class="row">
  {{#each products.rows}}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="bd-placeholder-img card-img-top" width="100%" height="225" src={{this.image}}></img>
      <div class="card-body">
        <p class="card-text">
          {{#ifCond ../user.role 'admin'}}
        <h4><a href="/admin/products/{{this.id}}">{{this.id}} {{this.name}}</a></h4>
        {{else}}
        <h4><a href="/products/{{this.id}}">{{this.id}} {{this.name}}</a></h4>
        {{/ifCond}}
        <span>{{this.description}}</span>
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted">$ {{this.price}}</small>
          {{#ifCond ../user.role 'admin'}}
          <div>
            <div class="btn-group">
              <a href="/admin/products/{{this.id}}">
                <button type="submit" class="btn btn-sm btn-primary">Edit</button>
              </a>
            </div>
            <div class="btn-group">
              <button type="submit" class="delete-product btn btn-sm btn-danger" data-toggle="modal"
                data-target="#delete-modal-{{this.id}}">Delete</button>
            </div>
          </div>
          {{else}}
          <div class="btn-group">
            <form action="/cart" method="POST">
              <input type="hidden" name="productId" value="{{this.id}}">
              <button type="submit" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            </form>
          </div>
          {{/ifCond}}
        </div>
      </div>
    </div>
  </div>
  {{!-- modal --}}
  <div class="modal fade" id="delete-modal-{{this.id}}" data-backdrop="static" tabindex="-1" data-keyboard="false"
    aria-labelledby="delete-modal-{{this.id}}-Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          要刪除 <strong>{{this.name}}</strong> 嗎？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
          <form action="/admin/products/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">確認刪除</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>